*{
	padding: 0;
	margin:0;
}
.clear:after{
	content: "";
	clear: both;
	display: block;
}
.bigger{
	width: 1600px;
	height: 920px;
	border: 1px red solid;
	font-family: microsoft yahei;
}
.head{
	width: 1600px;
	height:860px;
	background: #09070e;
}
.top{
	float: left;
	margin-left: 19px;
	height: 40px;
	width: 1581px;
	background: #010102;
}
.top1{
	margin-left: 200px;
	float: left;
	width: 1300px;
	height: 40px;
}
.fangda{
	position: relative;
	top: -35px;
	left: 1140px;
	display: block;
	width: 21px;
	height: 26px;
	background: url(./xwzx/1.png) no-repeat;
}
.zi1{
	position: relative;
	top:12px;
	width: 51px;
	height: 16px;
	background: url(./xwzx/13.png) no-repeat;
}
.zi2{
	position: relative;
	top: -12px;
	margin-left: 80px;
	line-height: 32px;
	font-weight: bold;
	color: white;
	font-size: 12px;
	text-decoration: none;
}
.zi3{
	position: relative;
	top: -12px;
	margin-left: 50px;
	line-height: 32px;
	font-weight: bold;
	color: white;
	font-size: 12px;
	text-decoration: none;
}
.one{
	margin-top: 28px;
	width: 1180px;
	height: 758px;
	margin-left: 224px;
	float:left;
}
.one1{
	width: 1180px;
	height: 40px;
	float: left;
	border-bottom: 2px #12101d solid;
}
.one11{
	font-size: 14px;
	color: white;
	line-height: 40px;
}
.one2{
	margin-top: 8px;
	width: 1148px;
	height: 660px;
	float: left;
	background: url(./xwzx/12.png) no-repeat;
}
.one21{
	margin-top: 15px;
	float: left;
	width: 563px;
	height: 115px;
	background: white;
}
.one211{
	margin-top: 16px;
	margin-left: 16px;
	float: left;
	width: 140px;
	height: 85px;
	background: url(./xwzx/14.png)-50px -19px no-repeat;
}
.one212{
	margin-top: 16px;
	margin-left: 10px;
	float: left;
	width: 390px;
	height: 85px;
}
.one22{
	margin-left: 15px;
	margin-top: 15px;
	float: left;
	width: 563px;
	height: 115px;
	background: white;
}
.one2121{
	float: left;
	color: #828282;
	font-size:14px; 
	line-height: 16px;
}
.one2122{
	float: left;
	font-size: 9px;
	line-height: 20px;
	color: #828282;
}
.one2123{
	margin-left: 50px;
	float: left;
	font-size: 9px;
	line-height: 20px;
	color: #828282;
}
.one2124{
	margin-left: 23px;
	float: left;
	font-size: 9px;
	line-height: 20px;
	color: #cacaca;
}
.one3{
	margin-top: 5px;
	float: right;
	margin-right: 37px;
	width: 370px;
	height: 35px;
}
.one31{
	width: 25px;
	height: 25px;
	float: left;
	background: #7b2783;
	border: none;
	color: white;
}
.one32:hover{
	background:#7b2783;
	color: white; 
}
.one32{
	width: 25px;
	height: 25px;
	float: left;
	border: none;
	color: black;
	margin-left: 5px;
}
.one33{
	width: 55px;
	height: 25px;
	float: left;
	border: none;
	color: black;
	margin-left: 5px;
}
.one33:hover{
	background:#7b2783;
	color: white; 
}
.one34{
	font-size: 10px;
	position: relative;
	left: -30px;
	color: white;
	margin-left: 7px;
}
.one35{
	border: none;
	width: 40px;
	height: 24px;
	float: right;
	position: relative;
	left: -56px;
}
.one36{
	position: relative;
	left: 20px;
	color: white;
	font-size: 10px;
}
.one37{
	background:#7b2783; 
	width: 25px;
	height: 25px;
	float: left;
	border: none;
	color: white;
	margin-left: 5px;
	position: relative;
	left: 100px;
}
.last{
	width: 1600px;
	height: 75px;
	float: left;
	background: #f4f4f4;
}
.last1{
	margin-top: 28px;
	margin-left: 170px;
	float: left;
	width: 460px;
	height: 25px;
}
.last11{
	font-size: 15px;
	text-decoration: none;
	color: #a6a6a6;
	margin-left: 25px;
}
.last2{
	margin-left: 40px;
	margin-top: 28px;
	width: 900px;
	height: 26px;
	float: left;
}
.last2 span{
	font-size: 12px;
	color: #a6a6a6;
}
