*{
	padding: 0;
	margin:0;
}
.clear:after{
	content: "";
	clear: both;
	display: block;
}
.bigger{
	width: 1600px;
	height: 856px;
	border: 1px red solid;
	font-family: microsoft yahei;
}
.head{
	width: 1600px;
	height:776px;
	background: #09070e;
}
.top{
	float: left;
	margin-left: 19px;
	height: 40px;
	width: 1581px;
	background: #010102;
}
.top1{
	margin-left: 200px;
	float: left;
	width: 1300px;
	height: 40px;
}
.fangda{
	position: relative;
	top: -35px;
	left: 1140px;
	display: block;
	width: 21px;
	height: 26px;
	background: url(./zz/1.png) no-repeat;
}
.zi1{
	position: relative;
	top:12px;
	width: 51px;
	height: 16px;
	background: url(zz/13.png) no-repeat;
}
.zi2{
	position: relative;
	top: -12px;
	margin-left: 80px;
	line-height: 32px;
	font-weight: bold;
	color: white;
	font-size: 12px;
	text-decoration: none;
}
.zi3{
	position: relative;
	top: -12px;
	margin-left: 50px;
	line-height: 32px;
	font-weight: bold;
	color: white;
	font-size: 12px;
	text-decoration: none;
}
.top2{
	margin-left: 200px;
	width: 1165px;
	height: 718px;
	float: left;
}
.top21{
	width: 860px;
	height: 710px;
	float: left;
	background: url(./zz/12.png) no-repeat; 
}
.top22{ 
	width: 1162px;
	height: 80px;
	float: left;
	border-bottom: 3px #120f1d solid;
}
.top221{
	color: white;
	font-size: 18px;
	line-height: 80px;
}
.top23{
	float: left;
	width: 1160px;
	height: 520px;
}
.top231{
	width: 218px;
	height: 233px;
	float: left;
	background: white;
	margin-top: 30px;
}
.top2311{
	width: 217px;
	height: 193px;
	float: left;
	border-bottom: 2px #afadb0 solid;
	
}
.top23111{
	margin-top: 6px;
	margin-left: 10px;
	float: left;
	width: 200px;
	height: 180px;
	background: url(./zz/z1.png) no-repeat;
}
.top23121{
	font-size: 14px;
	color: #929292;
	line-height: 40px;
	margin-left: 70px;
}
.top23112{
	margin-top: 6px;
	margin-left: 10px;
	float: left;
	width: 200px;
	height: 180px;
	background: url(./zz/z2.png) no-repeat;
}
.top23113{
	margin-top: 6px;
	float: left;
	width: 215px;
	height: 180px;
	background: url(./zz/z3.png) no-repeat;
}
.top23114{
	margin-left: 10px;
	margin-top: 6px;
	float: left;
	width: 210px;
	height: 180px;
	background: url(./zz/z4.png) no-repeat;
}
.top23115{
	margin-left: 10px;
	margin-top: 6px;
	float: left;
	width: 210px;
	height: 180px;
	background: url(./zz/z5.png) no-repeat;
}
.top232{
	margin-left: 10px;
	width: 218px;
	height: 233px;
	float: left;
	border: 1px white solid;
	background: white;
	margin-top: 30px;
}
.top233{
	width: 218px;
	height: 233px;
	float: left;
	border: 1px white solid;
	background: white;
	margin-top: 20px;
}
.top23116{
	margin-left: 10px;
	margin-top: 6px;
	float: left;
	width: 210px;
	height: 180px;
	background: url(./zz/z6.png) no-repeat;
}
.top234{
	margin-left: 10px;
	width: 218px;
	height: 233px;
	float: left;
	border: 1px white solid;
	background: white;
	margin-top: 20px;
}
.top23117{;
	margin-top: 6px;
	float: left;
	width: 210px;
	height: 180px;
	background: url(./zz/z7.png) no-repeat;
}
.top23118{
	margin-left: 10px;
	margin-top: 6px;
	float: left;
	width: 210px;
	height: 180px;
	background: url(./zz/z8.png) no-repeat;
}
.top23119{
	margin-top: 6px;
	float: left;
	width: 215px;
	height: 180px;
	background: url(./zz/z9.png) no-repeat;
}
.top231110{
	margin-left: 10px;
	margin-top: 6px;
	float: left;
	width: 210px;
	height: 180px;
	background: url(./zz/z10.png) no-repeat;
}
.last{
	width: 1600px;
	height: 75px;
	float: left;
	background: #f4f4f4;
}
.last1{
	margin-top: 28px;
	margin-left: 170px;
	float: left;
	width: 460px;
	height: 25px;
}
.last11{
	font-size: 15px;
	text-decoration: none;
	color: #a6a6a6;
	margin-left: 25px;
}
.last2{
	margin-left: 40px;
	margin-top: 28px;
	width: 900px;
	height: 26px;
	float: left;
}
.last2 span{
	font-size: 12px;
	color: #a6a6a6;
}
